body {
    font-family: system-ui, sans-serif;
    color: #fff;
    background: #212529;
    transition: background-color 0.3s;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure full height */
    margin: 0; /* Remove default body margin */
}

header {
    text-align: center;
}

.Header-Text-P1,
.Header-Text-P2 {
    display: inline; /* Make sure both headers are inline */
}

.Header-Text-P1 {
    color: #ffffff;
    font-size: 2em; /* Adjust the font size as needed */
    margin: 0; /* Remove default margin */
}

.Header-Text-P2 {
    color: #c5c5c5;
    font-size: 2em; /* Adjust the font size as needed */
    margin: 0; /* Remove default margin */
}

.Header-Divider {
    width: 100%; /* Make the divider span the entire width */
    border: 1px solid #c5c5c5;
    margin-top: 10px; /* Adjust the space between headers and divider as needed */
}

*::-webkit-input-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder,
*::placeholder {
    color: #6c757d;
}

*, *::before, *::after {
    border-color: #6c757d;
}

.container {
    margin-top: 4rem;
}

.form-label,
.form-control,
input[type="number"],
.btn,
.modal-content,
.modal-title,
.btn-close,
.alert {
    color: #fff;
}

.form-label,
.form-control,
input[type="number"],
.btn,
.modal-content,
.alert {
    border: 2px solid #6c757d;
    padding: 2px;
}

.form-control,
input[type="number"],
.btn,
.btn-primary,
.dropdown-toggle,
.modal-content,
.alert-info {
    background-color: #343a40;
}

.form-control,
input[type="number"],
.btn,
.btn-primary,
.dropdown-toggle,
.modal-content,
.alert-info {
    color: #fff;
}

input[type="number"] {
    width: 5em;
}

.btn,
.btn-primary,
.dropdown-toggle,
.btn-close {
    border-color: #6c757d;
}

.btn-primary,
.dropdown-toggle {
    background-color: #55b725;
    border-color: #55b725;
    color: #fff; /* Set text color to white */
}

.btn-primary:hover,
.dropdown-toggle:hover,
.btn-primary:active,
.dropdown-toggle:active,
.btn-primary:focus,
.dropdown-toggle:focus {
    background-color: #3e8f14; /* Darker shade of green for active and focus states */
    border-color: #3e8f14;
    color: #fff; /* Set text color to white for active and focus states */
}

.alert {
    border-color: #6c757d;
}

.alert-info {
    background-color: #17a2b8;
}

.alert-info:hover {
    background-color: #138496;
}

.fade.show {
    opacity: 1;
}

.form-check-input,
#genres-dropdown .form-check-input {
    background-color: #55b725;
    border-color: #55b725;
}

.form-check-input:checked,
#genres-dropdown .form-check-input:checked {
    background-color: #3e8f14;
    border-color: #3e8f14;
}

#genres-dropdown {
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    transform: translate(12px, 40px);
    background-color: #343a40;
    color: #fff;
    border: 1px solid #6c757d;
}
